{% extends "layout.html" %}

{% block page_content %}

<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            游戏管理
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('main.index') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><a href="{{ url_for('game.games') }}">游戏管理</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                      
                    <div class="box-body">
                        
                        <div class="box-header">
                            <h3 class="box-title">游戏列表</h3>
                            <span class="pull-right">
                              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-user-modal"><i class='fa fa-plus'></i></button>
                              <button type="button" class="btn btn-danger mutiple-delete-user"><i class='fa fa-trash-o'></i></button>
                            </span>
                        </div><!-- /.box-header -->
                        
                          <table class="table table-bordered table-hover">
                              <tr>
                                  <th style="width: 10px">
                                    <input type="checkbox" class="icheckbox_square-blue check-all"/>
                                  </th>
                                  <th style="width: 10px">#</th>
                                  <th>游戏名称</th>
                                  <th style="width: 200px">操作</th>
                              </tr>

                              {% for game in games %}
                              <tr>
                                  <td>
                                    <input type="checkbox" value="{{ game.id }}" class="minimal-red check-item"/>
                                   
                                  </td>
                                  <td>{{ game.id }}</td>
                                 
                                  <td>{{ game.name }}</td>
                                  
                                  <td>
                                    
                                        <button type="button" class="btn btn-default edit-user"><i class='fa fa-wrench'></i></button>

                                        <button type="button" class="btn btn-default">
                                          <a href="{{ url_for('game.areas',gid=game.id) }}"><i class='fa fa-angle-double-down'></i></a>
                                          
                                        </button>
                                       
                                   
                                  </td>
                              </tr>
                              {% endfor %}
                              
                              
                          </table>
                      </div><!-- /.box-body -->
                      
                  </div>
                </div>
                
                
              </div>
    </section><!-- /.content -->
</aside><!-- /.right-side -->

{% endblock %}

{% block otherdiv %}
 <!-- COMPOSE MESSAGE MODAL -->
<div class="modal fade" id="add-user-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">新增游戏 </h4>
            </div>
            <form action="{{ url_for('game.add_game')}}" method="post">
                <div class="modal-body">
                  <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-addon">游戏名称:</span>
                          <input name="name" class="form-control">
                      </div>
                  </div>

                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade bs-example-modal-sm" id="del-user-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">删除游戏 </h4>
            </div>
            <form action="{{ url_for('game.del_game')}}" method="post">
                <div class="modal-body">
                  是否确认删除这些游戏
                  <input type="hidden" id="gids" name="gids"/>
                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div class="modal fade" id="edit-user-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">编辑游戏 </h4>
            </div>
            <form action="{{ url_for('game.update_game')}}" method="post">
                <input name="id" value="" type="hidden" id="edit-id">
                <div class="modal-body">
                  <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-addon">游戏名称:</span>
                          <input name="name" id="edit-name" class="form-control">
                      </div>
                  </div>
                 
                  
                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock %}

{% block foot_js %}
    {{ super() }}

<script type="text/javascript">
     $(function() {
        /*
       $(".sidebar-menu > li").removeClass('active');
       $(".sidebar-menu > li").each(
         function(index,element){
           if(index==0){
             //alert(item);
             $(element).addClass('active');
           }
         }
       );
       $(".sidebar .treeview").tree();
       */
       
       //用户table操作
      $(".check-all").on("change",function(event){
         if($(this).prop('checked')){
           $(".check-item").prop('checked',true);
         }else{
           $(".check-item").prop('checked',false);
         }
       });
       
       
       $(".edit-user").on("click",function(){
         selected_id = $(this).parent().siblings().find(':checkbox').val()
         $.getJSON('_get_game/'+selected_id,function(data){
            $('#edit-id').val(data.id);
            $('#edit-name').val(data.username);
            $('#edit-user-modal').modal();
         });
       });
       
       
       $(".mutiple-delete-user").on("click",function(){
         var item_size = $(".check-item").size();
         var checked_item_size = 0;
         var checked_items = new Array();
         $(".check-item").each(function(index,element){
           if(element.checked){
             checked_item_size++;
             checked_items.push(element);
           }
         });
         if(checked_item_size == 0){
           alert("至少选择一个需要删除的项目");
         }else{            
            uids = $(checked_items).map(function(){return $(this).val()}).get().join();
            $('#gids').val(uids);
            $('#del-user-modal').modal();
         }
       });
      
     });
   </script>

{% endblock %}