{% extends "layout.html" %}

{% block head_css %}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/datepicker/datepicker3.css')}}">
{% endblock %}

{% block page_content %}

<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            订单处理中心
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('main.index') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><a href="{{ url_for('order.orders') }}">订单处理</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box box-solid">
          <div class="box-body">
             <form action="#" method="get">
             <div class="form-inline">
              <div class="input-group">
                          <span class="input-group-addon">订单号:</span>
                          <input name="order_no" value="{% if request.args.get('order_no') != None %}{{ request.args.get('order_no') }}{% endif %}" class="form-control">
              </div>
              <div class="input-group">
                          <span class="input-group-addon">角色名:</span>
                          <input name="acter_name" value="{% if request.args.get('acter_name') != None %}{{ request.args.get('acter_name') }}{% endif %}" class="form-control">
              </div>
              <div class="input-group">
                          <span class="input-group-addon">服务器:</span>
                          <select name="area_id" class="form-control">
                            <option value="0">所有</option>
                            {% for ar in areas %}
                            <option value="{{ ar.id }}"  {% if ar.id == request.args.get('area_id') | int %} selected="true" {% endif %}>{{ ar.name }}</option>
                            {% endfor %}
                          </select>
              </div>
              <div class="input-group">
                          <span class="input-group-addon">订单状态:</span>
                          <select name="status_id" class="form-control">
                            <option value="0">所有</option>
                            {% for st in status %}
                            <option value="{{ st.id }}" {% if st.id == request.args.get('status_id') | int %} selected="true" {% endif %}>{{ st.name }}</option>
                            {% endfor %}
                          </select>
              </div>
              <div class="input-group">
                          <span class="input-group-addon">订单类型:</span>
                          <select name="type_id" class="form-control">
                            <option value="0">所有</option>
                            {% for ot in ordertypes %}
                            <option value="{{ ot.id }}" {% if ot.id == request.args.get('type_id') | int %} selected="true" {% endif %}>{{ ot.name }}</option>
                            {% endfor %}
                          </select>
              </div>
              
             </div>
             <div class="form-inline inline-form-magin">
             <div class="input-group">
                          <span class="input-group-addon">异常订单:</span>

                          <input type="checkbox" value="1" name="is_issue" class="icheckbox_square-blue" {% if request.args.get('is_issue') | int == 1 %}checked="true"{% endif %}>
              </div>
              <div class="pull-right">
              <button class="btn btn-warning">查询</button>
              </div>
              </div>
             </form>
          </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                      
                    <div class="box-body">
                        
                        <div class="box-header">
                            <h3 class="box-title">订单处理列表</h3>
                            <span class="pull-right">
                              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-user-modal"><i class='fa fa-plus'></i></button>

                              <button type="button" class="btn btn-info group-order"><i class='fa fa-truck'></i></button>

                              <button type="button" class="btn btn-info order-to-task">
                                            <i class='fa fa-share'></i>
                                </button>

                              <button type="button" class="btn btn-info task-order">
                                            <i class='fa fa-tasks'></i>
                                </button>

                              <button type="button" class="btn btn-info complete-order">
                                            <i class='fa fa-star-half-o'></i>
                                </button>

                              <button type="button" class="btn btn-info notification-order">
                                            <i class='fa fa-star'></i>
                                </button>


                              <button type="button" class="btn btn-danger mutiple-delete-user"><i class='fa fa-trash-o'></i></button>
                            
                              <form action="{{ url_for('order.export') }}" method="get" style="margin:0px;display: inline">
                              <input type="hidden" name="order_no" value="{% if request.args.get('order_no') != None %}{{ request.args.get('order_no') }}{% endif %}">
                              <input type="hidden" name="acter_name" value="{% if request.args.get('acter_name') != None %}{{ request.args.get('acter_name') }}{% endif %}">
                              <input type="hidden" name="area_id" value="{{ request.args.get('area_id') }}">
                              <input type="hidden" name="status_id" value="{{ request.args.get('status_id') }}">
                              <input type="hidden" name="type_id" value="{{ request.args.get('type_id') }}">
                              <input type="hidden" name="is_issue" value="{% if request.args.get('is_issue') != None %}{{ request.args.get('is_issue') }}{% endif %}">
                              <button class="btn btn-primary"><i class='fa fa-save'></i></button>
                                
                              </form>
                             
                               

                              

                            </span>
                        </div><!-- /.box-header -->
                        
                          <table class="table table-bordered table-hover">
                              <tr>
                                  <th style="width: 10px">
                                    <input type="checkbox" class="icheckbox_square-blue check-all"/>
                                  </th>
                                  <th>单号</th>
                                  <th>类型</th>
                                  <th>状态</th>
                                  <th>区服</th>
                                  <th>角色</th>
                                  <th>账号</th>
                                  <th>密码</th>
                                  <th>起点</th>
                                  <th>需求</th>
                                  <th>当前</th>
                                  <th>旺旺</th>
                                  <th>QQ号</th>
                                  <th>电话</th>
                                  <th>金额</th>
                                  <th>支付</th>
                                  

                                  <th style="width: 200px">操作</th>
                              </tr>

                              {% for order in orders %}
                              <tr style="background-color: {% if order.is_issue %} #ff0000  {% else %} {{ order.order_type.color }}  {% endif %}">
                                  <td>
                                    <input type="checkbox" value="{{ order.id }}" class="minimal-red check-item"/>
                                    
                                  </td>
                                 
                                  <td>{{ order.order_no}}</td>
                                  <td>{{ order.order_type.name}}</td>
                                  <td>{{ order.order_status.name}}</td>
                                  <td>{{ order.area.name}}</td>
                                  <td>{{ order.acter_name }}</td>
                                  <td>{{ order.acter_account }}</td>
                                  <td>{{ order.acter_password }}</td>
                                  <td>{{ order.start_level }}</td>
                                  <td>{{ order.end_level }}</td>
                                  <td>{{ order.now_level }}</td>
                                  <td>{{ order.wangwang }}</td>
                                  <td>{{ order.qq }}</td>
                                  <td>{{ order.mobile }}</td>
                                  <td>{{ order.amount }}</td>
                                  <td>{{ order.paytype }}</td>
                                  
                                  <td>  
                                        <input type="hidden" class="area_id" value="{{ order.area.id }}">
                                        <input type="hidden" class="status_id" value="{{ order.order_status.id }}">    
                                        <button type="button" class="btn btn-default edit-user">
                                            <i class='fa fa-wrench'></i>
                                        </button>
                                        {% if order.status_id == 1%}
                                        <button type="button" class="btn btn-default check-order">
                                            <i class='fa fa-check'></i>
                                        </button>
                                        {% endif %}

                                        {% if order.is_issue %}
                                          <button type="button" class="btn btn-default unbug-order">
                                            <i class='fa fa-smile-o'></i>
                                          </button>
                                        {% else %}
                                          <button type="button" class="btn btn-default bug-order">
                                            <i class='fa fa-bug'></i>
                                          </button>
                                        {% endif %}


                                        
                                       


                                        
                                  </td>
                              </tr>
                              {% endfor %}
                              
                              
                          </table>
                      </div><!-- /.box-body -->
                      
                  </div>
                </div>
                
                
              </div>
    </section><!-- /.content -->
</aside><!-- /.right-side -->

{% endblock %}

{% block otherdiv %}
 <!-- COMPOSE MESSAGE MODAL -->
<div class="modal fade" id="add-user-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-big">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">新增订单 </h4>
            </div>
            <form action="{{ url_for('order.add_order')}}" method="post">
                <div class="modal-body">
                  <div class="form-group">
                      <div class="form-inline">

                        <div class="input-group">
                          <span class="input-group-addon">订单类型:</span>
                          <select name="type_id" class="form-control long-input">
                            {% for ot in ordertypes %}
                            <option value="{{ ot.id }}">{{ ot.name }}</option>
                            {% endfor %}
                          </select>
                          <!-- <input name="type_id" class="form-control long-input"> -->
                        </div>
                        <div class="input-group" style="width:225px;">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon">所在区:</span>
                          <select name="area_id" class="form-control long-input">
                            {% for ar in areas %}
                            <option value="{{ ar.id }}">{{ ar.name }}</option>
                            {% endfor %}
                          </select>
                          <!-- <input name="area_id" class="form-control"> -->
                        </div>
                        
                      </div>

                      <div class="form-inline inline-form-magin">

                        <div class="input-group">
                          <span class="input-group-addon">角色名:</span>
                          <input name="acter_name" class="form-control">
                        </div>
                        
                        <div class="input-group">
                          <span class="input-group-addon">帐号:</span>
                          <input name="acter_account" class="form-control">
                        </div>

                        <div class="input-group">
                          <span class="input-group-addon">密码:</span>
                          <input name="acter_password" class="form-control">
                        </div>
                        
                      </div>

                      <div class="form-inline inline-form-magin">

                         <div class="input-group">
                          <span class="input-group-addon">当前等级:</span>
                          <input name="start_level" class="form-control long-input" value="0">
                        </div>
                        <div class="input-group" style="width:200px;">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon">需求等级:</span>
                          <input name="end_level" class="form-control" value="0">
                        </div>
                        
                      </div>


                      <div class="form-inline inline-form-magin">

                         <div class="input-group">
                          <span class="input-group-addon">旺旺:</span>
                          <input name="wangwang" class="form-control long-input">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon">qq号:</span>
                          <input name="qq" class="form-control">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon">手机号:</span>
                          <input name="mobile" class="form-control">
                        </div>
                        
                      </div>

                      <div class="form-inline inline-form-magin">

                         <div class="input-group">
                          <span class="input-group-addon">支付金额:</span>
                          <input name="amount" class="form-control long-input">
                        </div>
                        <div class="input-group" style="width:200px;">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon">支付方式:</span>
                          <input name="paytype" class="form-control">
                        </div>
                        
                      </div>

                      <div class="inline-form-magin">

                         <div class="input-group">
                          <span class="input-group-addon">备注:</span>
                          <input name="memo" class="form-control long-input">
                        </div>
                      </div>
                      
                  </div>

                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade bs-example-modal-sm" id="del-user-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">删除订单 </h4>
            </div>
            <form action="{{ url_for('order.del_order')}}" method="post">
                <div class="modal-body">
                  是否确认删除这些订单
                  <input type="hidden" id="gids" name="gids"/>
                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade bs-example-modal-sm" id="check-order-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">审核订单 </h4>
            </div>
            <form action="{{ url_for('order.check_order')}}" method="post">
                <div class="modal-body">
                  是否审核这笔订单
                  <input type="hidden" id="check-oid" name="oid"/>
                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade bs-example-modal-sm" id="bug-order-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">异常订单 </h4>
            </div>
            <form action="{{ url_for('order.bug_order')}}" method="post">
                <div class="modal-body">
                  标记异常订单
                  <input type="hidden" id="bug-oid" name="oid"/>
                  <div class="form-group">
                    <div class="input-group">
                          <span class="input-group-addon">异常类型:</span>
                          <select name="issue_type" class="form-control">
                            {% for it in issuetypes %}
                            <option value="{{ it.id }}">{{ it.name }}</option>
                            {% endfor %}
                          </select>
                          <!-- <input name="type_id" class="form-control long-input"> -->
                    </div>
                  </div>
                   <div class="form-group">
                   <div class="input-group">
                          <span class="input-group-addon">异常备注:</span>
                          <input name="issue_memo" class="form-control">
                    </div>
                   </div>
                    
                  
                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade bs-example-modal-sm" id="unbug-order-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">解除异常订单 </h4>
            </div>
            <form action="{{ url_for('order.unbug_order')}}" method="post">
                <div class="modal-body">
                  是否解除异常
                  <input type="hidden" id="unbug-oid" name="oid"/>
                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="edit-user-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-big">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">编辑游戏 </h4>
            </div>
            <form action="{{ url_for('order.update_order')}}" method="post">
            <input type="hidden" name="id" id="edit-id"/>
                <div class="modal-body">
                  <div class="form-group">
                      <div class="form-inline">

                        <div class="input-group">
                          <span class="input-group-addon">订单类型:</span>
                          <select name="type_id" class="form-control long-input" id="edit-type_id">
                            {% for ot in ordertypes %}
                            <option value="{{ ot.id }}">{{ ot.name }}</option>
                            {% endfor %}
                          </select>
                          <!-- <input name="type_id" class="form-control long-input"> -->
                        </div>
                        <div class="input-group" style="width:225px;">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon">所在区:</span>
                          <select name="area_id" class="form-control long-input" id="edit-area_id">
                            {% for ar in areas %}
                            <option value="{{ ar.id }}">{{ ar.name }}</option>
                            {% endfor %}
                          </select>
                          <!-- <input name="area_id" class="form-control"> -->
                        </div>
                        
                      </div>

                      <div class="form-inline inline-form-magin">

                        <div class="input-group">
                          <span class="input-group-addon">角色名:</span>
                          <input name="acter_name" class="form-control" id="edit-acter_name">
                        </div>
                        
                        <div class="input-group">
                          <span class="input-group-addon">帐号:</span>
                          <input name="acter_account" class="form-control" id="edit-acter_account">
                        </div>

                        <div class="input-group">
                          <span class="input-group-addon">密码:</span>
                          <input name="acter_password" class="form-control" id="edit-acter_password">
                        </div>
                        
                      </div>

                      <div class="form-inline inline-form-magin">

                         <div class="input-group">
                          <span class="input-group-addon">起始等级:</span>
                          <input name="start_level" class="form-control long-input" id="edit-start_level">
                        </div>
                        <div class="input-group" style="width:200px;">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon">需求等级:</span>
                          <input name="end_level" class="form-control" id="edit-end_level">
                        </div>
                        
                      </div>


                      <div class="form-inline inline-form-magin">

                         <div class="input-group">
                          <span class="input-group-addon">旺旺:</span>
                          <input name="wangwang" class="form-control long-input" id="edit-wangwang">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon">qq号:</span>
                          <input name="qq" class="form-control" id="edit-qq">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon">手机号:</span>
                          <input name="mobile" class="form-control" id="edit-mobile">
                        </div>
                        
                      </div>

                      <div class="form-inline inline-form-magin">

                         <div class="input-group">
                          <span class="input-group-addon">支付金额:</span>
                          <input name="amount" class="form-control long-input" id="edit-amount">
                        </div>
                        <div class="input-group" style="width:200px;">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon">支付方式:</span>
                          <input name="paytype" class="form-control" id="edit-paytype">
                        </div>
                        
                      </div>

                      <div class="inline-form-magin">

                         <div class="input-group">
                          <span class="input-group-addon">备注:</span>
                          <input name="memo" class="form-control long-input" id="edit-memo">
                        </div>
                      </div>
                      
                  </div>

                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade bs-example-modal-sm" id="group-order-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">分配团练订单 </h4>
            </div>
            <form action="{{ url_for('team.add_team')}}" method="post">
                <input type="hidden" name="group-order-ids" id="group-order-ids">
                <div class="modal-body">
                  <div class="input-group">
                      <span class="input-group-addon">分区:</span>
                      <input name="group-area-name" class="form-control" id="group-area-name" readonly="true">
                      <input type="hidden" name="group-area-id" id="group-area-id">
                  </div>
                  <div class="input-group" style="z-index:999999;margin-top:10px;">
                      <span class="input-group-addon">团练日期:</span>
                      <input name="group-name" class="form-control datepicker" data-date="2014-11-01" data-date-format="yyyy-mm-dd" id="group-name" readonly="true">
                  </div>
                  <div class="input-group" style="margin-top:10px;">
                      <span class="input-group-addon">目标级别:</span>
                      <input name="group-target" class="form-control" value="0">
                  </div>
                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade bs-example-modal-sm" id="order-to-task-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">订单转任务组 </h4>
            </div>
            <form action="{{ url_for('order.wait_task')}}" method="post">
                <div class="modal-body">
                  是否确认这些订单转任务组
                  <input type="hidden" id="wait-task-gids" name="gids"/>
                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade bs-example-modal-sm" id="task-order-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">分配任务订单 </h4>
            </div>
            <form action="{{ url_for('task.add_team')}}" method="post">
                <input type="hidden" name="oids" id="task-order-ids">
                <div class="modal-body">
                  <div class="input-group" style="z-index:999999;">
                      <span class="input-group-addon">日期:</span>
                      <input name="name" class="form-control datepicker" data-date="2014-11-01" data-date-format="yyyy-mm-dd" id="group-name" readonly="true">
                  </div>
                  <div class="input-group" style="margin-top:10px;">
                      <span class="input-group-addon">组号:</span>
                      <input name="no" class="form-control" value="1">
                  </div>
                  <div class="input-group" style="margin-top:10px;">
                      <span class="input-group-addon">机器号:</span>
                      <input name="target" class="form-control" value="1">
                  </div>
                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade bs-example-modal-sm" id="complete-order-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">订单完成 </h4>
            </div>
            <form action="{{ url_for('order.complete_order')}}" method="post">
                <div class="modal-body">
                  是否确认这些订单已完成
                  <input type="hidden" id="complete-order-ids" name="gids"/>
                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade bs-example-modal-sm" id="notification-order-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">订单已通知 </h4>
            </div>
            <form action="{{ url_for('order.notification_order')}}" method="post">
                <div class="modal-body">
                  是否确认这些订单已通知
                  <input type="hidden" id="notification-order-ids" name="gids"/>
                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



{% endblock %}

{% block foot_js %}
    {{ super() }}
<script type="text/javascript" src="{{ url_for('static',filename='js/datepicker/bootstrap-datepicker.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/datepicker/locales/bootstrap-datepicker.zh-CN.js')}}"></script>
<script type="text/javascript">
     $(function() {
       
       
       //用户table操作
       $(".check-all").on("ifChanged",function(event){
         if(this.checked){
           $(".check-item").iCheck('check');
         }else{
           $(".check-item").iCheck('uncheck');
         }
       });

       $('.datepicker').datepicker({language:'zh-CN'});
       
       
       $(".edit-user").on("click",function(){
         selected_id = $(this).parent().siblings().find(':checkbox').val()
         $.getJSON('/order/_get_order/'+selected_id,function(data){
            $('#edit-id').val(data.id);
            $('#edit-type_id').val(data.type_id);
            $('#edit-area_id').val(data.area_id);
            $('#edit-acter_name').val(data.acter_name);
            $('#edit-acter_password').val(data.acter_password);
            $('#edit-acter_account').val(data.acter_account);
            $('#edit-start_level').val(data.start_level);
            $('#edit-end_level').val(data.end_level);
            $('#edit-wangwang').val(data.wangwang);
            $('#edit-qq').val(data.qq);
            $('#edit-mobile').val(data.mobile);
            $('#edit-amount').val(data.amount);
            $('#edit-paytype').val(data.paytype);
            $('#edit-memo').val(data.memo);
            $('#edit-user-modal').modal();
         });
       });

       $(".check-order").on("click",function(){
         selected_id = $(this).parent().siblings().find(':checkbox').val()
         $('#check-oid').val(selected_id)
         $('#check-order-modal').modal();
       });

       $(".bug-order").on("click",function(){
          selected_id = $(this).parent().siblings().find(':checkbox').val();
         $('#bug-oid').val(selected_id);
         $('#bug-order-modal').modal();
       });

       $(".unbug-order").on("click",function(){
          selected_id = $(this).parent().siblings().find(':checkbox').val();
         $('#unbug-oid').val(selected_id);
         $('#unbug-order-modal').modal();
       });
       
       
       $(".mutiple-delete-user").on("click",function(){
         var item_size = $(".check-item").size();
         var checked_item_size = 0;
         var checked_items = new Array();
         $(".check-item").each(function(index,element){
           if(element.checked){
             checked_item_size++;
             checked_items.push(element);
           }
         });
         if(checked_item_size == 0){
           alert("至少选择一个需要删除的项目");
         }else{            
            uids = $(checked_items).map(function(){return $(this).val()}).get().join();
            $('#gids').val(uids);
            $('#del-user-modal').modal();
         }
       });

       $(".group-order").on("click",function(){
         var item_size = $(".check-item").size();
         var checked_items = new Array();
         var area_array = new Array();
         var status_array = new Array();
         show = true;
         $(".check-item").each(function(index,element){
           if(element.checked){
             checked_items.push(element);
             area_id = $(element).parent().parent().siblings().find('.area_id').val()
             status_id = $(element).parent().parent().siblings().find('.status_id').val()
             area_array.push(area_id)
             status_array.push(status_id)
            }
         });
         
          if(checked_items.length == 0){
            alert("至少选择一个需要分组的订单");
          }else{ 
            area_temp = area_array[0]
            for(var i=0; i<area_array.length; i++){
              if(area_array[i] != area_temp){
                alert("您选择的订单区服存在差异，请重新选择!");
                return;
              }
            }
            for(var i=0; i<status_array.length; i++){
              if(status_array[i] != 2){
                alert("只有已审核的订单才能分配!");
                return;
              }
            }
            $.getJSON('/game/_get_area/'+area_temp,function(data){
              $('#group-area-id').val(data.id);
              $('#group-area-name').val(data.username);
              uids = $(checked_items).map(function(){return $(this).val()}).get().join();
              $('#group-order-ids').val(uids);
              $("#group-order-modal").modal();
            });           
          }
       });

       $('.order-to-task').on('click',function(){
         var item_size = $(".check-item").size();
         var checked_items = new Array();
         var status_array = new Array();
         $(".check-item").each(function(index,element){
           if(element.checked){
             checked_items.push(element);
             status_id = $(element).parent().parent().siblings().find('.status_id').val()
             status_array.push(status_id)
            }
         });
         
          if(checked_items.length == 0){
            alert("至少选择一个需要处理的订单");
          }else{ 
            
            for(var i=0; i<status_array.length; i++){
              if(status_array[i] == 2 || status_array[i] == 5){
                
              }else{
                alert("只有已审核或团练完成的订单才能转任务组!");
                return;
              }
            }
            uids = $(checked_items).map(function(){return $(this).val()}).get().join();
            $('#wait-task-gids').val(uids);
            $("#order-to-task-modal").modal();    
          }
       });

        $(".task-order").on("click",function(){
         var item_size = $(".check-item").size();
         var checked_items = new Array();
         var status_array = new Array();
         show = true;
         $(".check-item").each(function(index,element){
           if(element.checked){
             checked_items.push(element);
             status_id = $(element).parent().parent().siblings().find('.status_id').val()
             status_array.push(status_id)
            }
         });
         
          if(checked_items.length == 0){
            alert("至少选择一个需要分配的订单");
          }else{ 
            for(var i=0; i<status_array.length; i++){
              if(status_array[i] != 6){
                alert("只有转任务组的订单才能分配!");
                return;
              }
            }
            uids = $(checked_items).map(function(){return $(this).val()}).get().join();
            $('#task-order-ids').val(uids);
            $("#task-order-modal").modal();        
          }
       });

       $(".complete-order").on("click",function(){
         var item_size = $(".check-item").size();
         var checked_items = new Array();
         var status_array = new Array();
         show = true;
         $(".check-item").each(function(index,element){
           if(element.checked){
             checked_items.push(element);
             status_id = $(element).parent().parent().siblings().find('.status_id').val()
             status_array.push(status_id)
            }
         });
         
          if(checked_items.length == 0){
            alert("至少选择一个需要处理的订单");
          }else{ 
            for(var i=0; i<status_array.length; i++){
              if(status_array[i] != 5 && status_array[i] != 9){
                alert("只有团练完成或任务完成的订单才能处理!");
                return;
              }
            }
            uids = $(checked_items).map(function(){return $(this).val()}).get().join();
            $('#complete-order-ids').val(uids);
            $("#complete-order-modal").modal();        
          }
       });

       $(".notification-order").on("click",function(){
         var item_size = $(".check-item").size();
         var checked_items = new Array();
         var status_array = new Array();
         show = true;
         $(".check-item").each(function(index,element){
           if(element.checked){
             checked_items.push(element);
             status_id = $(element).parent().parent().siblings().find('.status_id').val()
             status_array.push(status_id)
            }
         });
         
          if(checked_items.length == 0){
            alert("至少选择一个需要处理的订单");
          }else{ 
            for(var i=0; i<status_array.length; i++){
              if(status_array[i] != 10){
                alert("只有已完成的订单才能处理!");
                return;
              }
            }
            uids = $(checked_items).map(function(){return $(this).val()}).get().join();
            $('#notification-order-ids').val(uids);
            $("#notification-order-modal").modal();        
          }
       });

      
     });
   </script>

{% endblock %}