{% extends "layout.html" %}

{% block head_css %}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/datepicker/datepicker3.css')}}">
{% endblock %}

{% block page_content %}

<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            任务处理中心
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('main.index') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><a href="{{ url_for('task.index') }}">任务处理中心</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">

                <div class="box box_success">

                    <div class="box-body">
                    <div class="box-header">
                      <h3 class="box-title">待处理订单列表
                        <small>订单数量: {{orders | length }}笔</small>
                      </h3>
                      <span class="pull-right">
                        <button type="button" class="btn btn-info task-order">
                                            <i class='fa fa-tasks'></i>
                                </button>
                      </span>
                    </div>
                        
                        <table class="table table-bordered table-hover pre-order-list">
                              <tr>
                                  <th style="width: 10px">
                                    <input type="checkbox" class="icheckbox_square-blue check-all"/>
                                  </th>
                                  <th>单号</th>
                                  <th>类型</th>
                                  <th>状态</th>
                                  <th>区服</th>
                                  <th>角色</th>
                                  <th>账号</th>
                                  <th>密码</th>
                                  <th>起点</th>
                                  <th>需求</th>
                                  <th>当前</th>
                                  <th>旺旺</th>
                                  <th>QQ号</th>
                                  <th>电话</th>
                                  <th>金额</th>
                                  <th>支付</th>
                                  <th>备注</th>

                                  <th style="width: 200px">操作</th>
                              </tr>

                              {% for order in orders %}
                              <tr style="background-color: {% if order.is_issue %} #ff0000  {% else %} {{ order.order_type.color }}  {% endif %}">
                                  <td>
                                    <input type="checkbox" value="{{ order.id }}" class="minimal-red check-item"/>
                                    
                                  </td>
                                 
                                  <td>{{ order.order_no}}</td>
                                  <td>{{ order.order_type.name}}</td>
                                  <td>{{ order.order_status.name}}</td>
                                  <td>{{ order.area.name}}</td>
                                  <td>{{ order.acter_name }}</td>
                                  <td>{{ order.acter_account }}</td>
                                  <td>{{ order.acter_password }}</td>
                                  <td>{{ order.start_level }}</td>
                                  <td>{{ order.end_level }}</td>
                                  <td>{{ order.now_level }}</td>
                                  <td>
                                    {{ order.wangwang }}
                                    <a href="http://amos.im.alisoft.com/msg.aw?v=2&uid={{ order.wangwang }}&site=cntaobao&s=1&charset=utf-8" target="_blank">旺旺</a>
                                    </td>
                                  <td>
                                    {{ order.qq }}
                                    <a href="http://wpa.qq.com/msgrd?v=3&uin={{order.qq}}&site=qq&menu=yes" target="_blank">QQ</a>
                                  </td>
                                  <td>{{ order.mobile }}</td>
                                  <td>{{ order.amount }}</td>
                                  <td>{{ order.paytype }}</td>
                                  <td style="background-color: {% if order.warning %} {{ order.warning.color }}  {% else %}  {% endif %}">
                                  {% if order.warning %}
                                    {{ order.warning.name }}
                                  {% endif %}
                                  </td>
                                  <td>  
                                        <input type="hidden" class="area_id" value="{{ order.area.id }}">
                                        <input type="hidden" class="status_id" value="{{ order.order_status.id }}">    
                                        <button type="button" class="btn btn-default edit-user">
                                            <i class='fa fa-wrench'></i>
                                        </button>
                                        {% if order.status_id == 1%}
                                        <button type="button" class="btn btn-default check-order">
                                            <i class='fa fa-check'></i>
                                        </button>
                                        {% endif %}

                                        {% if order.is_issue %}
                                          <button type="button" class="btn btn-default unbug-order">
                                            <i class='fa fa-smile-o'></i>
                                          </button>
                                        {% else %}
                                          <button type="button" class="btn btn-default bug-order">
                                            <i class='fa fa-bug'></i>
                                          </button>
                                        {% endif %}

                                        {% if order.status_id == 2%}
                                        <button type="button" class="btn btn-default one-order-to-team">
                                            <i class='fa fa-truck'></i>
                                          </button>
                                        {% endif %}

                                        {% if order.status_id == 2 or order.status_id == 6 %}
                                          <button type="button" class="btn btn-default one-order-to-task">
                                            <i class='fa fa-tasks'></i>
                                          </button>
                                        {% endif %}   
                                  </td>
                              </tr>
                              {% endfor %}
                              
                              
                          </table>


                    </div>
                </div>





                <div class="box box-primary">

                    <div class="box-body">

                        <div class="box-header">
                            <h3 class="box-title">任务组列表</h3>
                            
                        </div><!-- /.box-header -->

                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>日期</th>
                                <th>组别</th>
                                <th>编号</th>
                                <th>数量</th>
                                <th>进度</th>
                                <th>状态</th>
                                <th>创建时间</th>
                                <th style="width: 200px">操作</th>
                            </tr>
                            {% for team in teams %}
                            <tr>
                                <td>
                                    {{ team.name }}
                                    <input type="hidden" class="team-id" value="{{ team.id }}">
                                </td>
                                
                                <td>{{ team.section}}</td>
                                <td>{{ team.no}}</td>
                                <td>{{ team.orders.count()}}</td>
                                <td>
                                  {{ team.task_desc() }}
                                </td>
                                <td>{{ team.status.name }}</td>
                                <td>{{ team.create_date }}</td>                                
                                <td>       
                                    <button type="button" class="btn btn-default view-team" data-status="{{team.status_id }}">
                                        <i class='fa fa-eye'></i>
                                    </button>
                                    {% if team.status.id == 7 %}
                                    <button type="button" class="btn btn-default start-team">
                                        <i class='fa fa-play'></i>
                                    </button>
                                    {% endif %}

                                    {% if team.status.id == 8 %}
                                    <button type="button" class="btn btn-default stop-team">
                                        <i class='fa fa-stop'></i>
                                    </button>
                                    {% endif %}

                                    
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div>
        </div>

    </section><!-- /.content -->
</aside><!-- /.right-side -->

{% endblock %}


{% block otherdiv %}

<div class="modal fade bs-example-modal-sm" id="team-orders-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-big-max">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title team-orders-title">订单列表 </h4>
                <div class="row" style="margin-top:10px;">
                  <div class="col-md-1 pull-right">
                        <button class="btn btn-success over-task-btn">完成</button>
                  </div>
                   {% for task in tasks %}
                    <div class="col-md-1 pull-right">
                        <button class="btn btn-success order-task-btn" id="group-task-btn{{task.id}}" data-task-id="{{ task.id }}">{{ task.name }}</button>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
            <div class="modal-body">
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade bs-example-modal-sm" id="view-order-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-big-max">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">订单信息 </h4>

            </div>
            <div class="modal-body order-info">
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade bs-example-modal-sm" id="start-team-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">开始任务 </h4>
            </div>
            <form action="{{ url_for('task.start_task')}}" method="post">
                <div class="modal-body">
                  是否开始任务
                  <input type="hidden" id="tid" name="tid"/>
                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade bs-example-modal-sm" id="stop-team-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">结束任务 </h4>
            </div>
            <form action="{{ url_for('task.stop_task')}}" method="post">
                <div class="modal-body">
                  是否结束任务
                  <input type="hidden" id="stop-tid" name="tid"/>
                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade bs-example-modal-sm" id="order-out-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-big-max">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">是否将订单踢出本组 </h4>
            </div>
            <form action="{{ url_for('task.out_team') }}" method="post">
                <div class="modal-body">
                  是否将订单踢出本组
                  <input type="hidden" id="out-order-id" name="oid"/>
                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div class="modal fade bs-example-modal-sm" id="task-order-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">分配任务订单 </h4>
            </div>
            <form action="{{ url_for('task.add_team')}}" method="post">
                <input type="hidden" name="oids" id="task-order-ids">
                <div class="modal-body">
                  <div class="input-group" style="z-index:999999;">
                      <span class="input-group-addon">日期:</span>
                      <input name="name" class="form-control datepicker" data-date="2014-11-01" data-date-format="yyyy-mm-dd" id="group-name" readonly="true">
                  </div>
                  <div class="input-group" style="margin-top:10px;">
                      <span class="input-group-addon">组号:</span>
                      <input name="no" class="form-control" value="1">
                  </div>
                  <div class="input-group" style="margin-top:10px;">
                      <span class="input-group-addon">机器号:</span>
                      <input name="target" class="form-control" value="1">
                  </div>
                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade bs-example-modal-sm" id="order-to-team-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">加入团组 </h4>
            </div>
            <form action="{{ url_for('task.to_group')}}" method="post">
                <div class="modal-header">
                   是否确认这个订单加入
                  <input type="hidden" id="order-to-team-oid" name="oid"/>
                </div>
                <div class="modal-body">
                 
                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade bs-example-modal-sm" id="complete-task-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">完成任务项 </h4>
            </div>
            <form action="{{ url_for('task.complete_task') }}" method="post">
                <div class="modal-body">
                  是否确认所选订单已完成此任务项
                  <input type="hidden" id="complete_task_id" name="tid"/>
                  <input type="hidden" id="complete_order_task_ids" name="oids"/>
                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade bs-example-modal-sm" id="over-task-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">结束任务 </h4>
            </div>
            <form action="{{ url_for('task.over_task')}}" method="post">
                <div class="modal-body">
                  是否将所选择的订单结束任务
                  <input type="hidden" id="over-task-oids" name="oids"/>
                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div class="modal fade bs-example-modal-sm" id="bug-order-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">异常订单 </h4>
            </div>
            <form action="{{ url_for('order.bug_order')}}" method="post">
                <div class="modal-body">
                  标记异常订单
                  <input type="hidden" id="bug-oid" name="oid"/>
                  <div class="form-group">
                    <div class="input-group">
                          <span class="input-group-addon">异常类型:</span>
                          <select name="issue_type" class="form-control">
                            {% for it in issuetypes %}
                            <option value="{{ it.id }}">{{ it.name }}</option>
                            {% endfor %}
                          </select>
                          <!-- <input name="type_id" class="form-control long-input"> -->
                    </div>
                  </div>
                   <div class="form-group">
                   <div class="input-group">
                          <span class="input-group-addon">异常备注:</span>
                          <input name="issue_memo" class="form-control">
                    </div>
                   </div>
                    
                  
                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade bs-example-modal-sm" id="warning-order-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">添加备注 </h4>
            </div>
            <form action="{{ url_for('order.add_warning') }}" method="post">
                <div class="modal-body">
                  <div class="input-group">
                  <span class="input-group-addon">备注类型:</span>
                  <select name="warning_type" class="form-control">
                            {% for wy in warninges %}
                              <option value="{{ wy.id }}">{{ wy.name }}</option>
                            {% endfor %}
                          </select>
                  </div>
                  <input type="hidden" id="warning-order-oid" name="oid"/>
                  <div class="input-group">
                      <span class="input-group-addon">内容:</span>
                      <input name="content" class="form-control">
                  </div>
                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade bs-example-modal-sm" id="unbug-order-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">解除异常订单 </h4>
            </div>
            <form action="{{ url_for('order.unbug_order')}}" method="post">
                <div class="modal-body">
                  是否解除异常
                  <input type="hidden" id="unbug-oid" name="oid"/>
                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}


{% block foot_js %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static',filename='js/datepicker/bootstrap-datepicker.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/datepicker/locales/bootstrap-datepicker.zh-CN.js')}}"></script>
<script type="text/javascript">
    $(function() {

       //用户table操作
       $(".check-all").on("ifChanged",function(event){
         if(this.checked){
           $('.pre-order-list').find(".check-item").iCheck('check');
         }else{
           $('.pre-order-list').find(".check-item").iCheck('uncheck');
         }
       });

       $('.datepicker').datepicker({language:'zh-CN'});

        //用户table操作
        $(".modal-body").on("change",".check-all",function(event){
            if(this.checked){
                $('.order-list').find(".check-item").iCheck('check');
            }else{
                $('.order-list').find(".check-item").iCheck('uncheck');
            }
        });

        $(".modal-body").on("click",".view-order",function(event){
            var order_id = $(this).parent().siblings().find('.select-item').val();
            $.get('/order/__get_info/'+order_id,function(data){
                $('.order-info').html(data);
            });
            $("#view-order-modal").modal();
        });

        $(".edit-user").on("click",function(event){
            var order_id = $(this).parent().siblings().find(':checkbox').val();
            $.get('/order/__get_info/'+order_id,function(data){
                $('.order-info').html(data);
            });
            $("#view-order-modal").modal();
             
            
        });

        $(".modal-body").on("click",".order-out",function(event){
            var order_id = $(this).parent().siblings().find(':checkbox').val();
            $('#out-order-id').val(order_id);
            $("#order-out-modal").modal();
             
            
        });
         
       

        $('.view-team').on("click",function(){
            selected_id = $(this).parent().siblings().find('.team-id').val();
            if($(this).attr('data-status') == 7){
              $('#team-orders-modal').find('.row').hide();
            }else{
              $('#team-orders-modal').find('.row').show();
            }
            $.getJSON('/task/_get_team/'+selected_id,function(data){
                $('.team-orders-title').html(data.name+"   "+data.section+"组"+data.no+"号机");
                $('.task-group-id').val(data.id);
                $.get('/task/_get_team_orders/'+selected_id,function(data){
                    //alert(data);
                    $('#team-orders-modal').find('.modal-body').html(data);
                    $('#team-orders-modal').modal();
                });
            });
        });

        $('.start-team').on("click",function(){
            selected_id = $(this).parent().siblings().find('.team-id').val();
            $('#tid').val(selected_id);
            $('#start-team-modal').modal();
        });

        $('.stop-team').on("click",function(){
            selected_id = $(this).parent().siblings().find('.team-id').val();
            $('#stop-tid').val(selected_id);
            $('#stop-team-modal').modal();
        });




         $(".task-order").on("click",function(){
         var item_size = $(".check-item").size();
         var checked_items = new Array();
         var status_array = new Array();
         show = true;
         $(".check-item").each(function(index,element){
           if(element.checked){
             checked_items.push(element);
             status_id = $(element).parent().parent().siblings().find('.status_id').val()
             status_array.push(status_id)
            }
         });
         
          if(checked_items.length == 0){
            alert("至少选择一个需要分配的订单");
          }else{ 
            for(var i=0; i<status_array.length; i++){
              if(status_array[i] != 6){
                alert("只有转任务组的订单才能分配!");
                return;
              }
            }
            uids = $(checked_items).map(function(){return $(this).val()}).get().join();
            $('#task-order-ids').val(uids);
            $("#task-order-modal").modal();        
          }
       });

      $('.one-order-to-task').on('click',function(){
           selected_id = $(this).parent().siblings().find(':checkbox').val();
           $('#order-to-team-oid').val(selected_id);
           $.get('/task/__get_available_team/1',function(data){
            $('#order-to-team-modal').find('.modal-body').html("");
             $('#order-to-team-modal').find('.modal-body').append(data);
             $('#order-to-team-modal').modal();
           });
           
       });

      $('.order-task-btn').on('click',function(){
        var task_id = $(this).attr('data-task-id');
        var item_size = $(".order-list").find('.check-item').size();
        var checked_item_size = 0;
        var checked_items = new Array();
        $(".order-list").find('.check-item').each(function(index,element){
           if(element.checked){
             checked_item_size++;
             checked_items.push(element);
           }
        });
        if(checked_item_size == 0){
           alert("至少选择一个需要删除的项目");
        }else{
            uids = $(checked_items).map(function(){return $(this).val()}).get().join();
            $('#complete_order_task_ids').val(uids);
            $('#complete_task_id').val(task_id);
            $('#complete-task-modal').modal();
        }
      });

      $('.over-task-btn').on('click',function(){
        var task_id = $(this).attr('data-task-id');
        var item_size = $(".order-list").find('.check-item').size();
        var checked_item_size = 0;
        var checked_items = new Array();
        $(".order-list").find('.check-item').each(function(index,element){
           if(element.checked){
             checked_item_size++;
             checked_items.push(element);
           }
        });
        if(checked_item_size == 0){
           alert("至少选择一个需要删除的项目");
        }else{
            uids = $(checked_items).map(function(){return $(this).val()}).get().join();
            $('#over-task-oids').val(uids);
            $('#over-task-modal').modal();
        }
      });


      $(".modal-body").on("click",".bug-order",function(){
          var order_id = $(this).parent().siblings().find('.select-item').val();
         $('#bug-oid').val(order_id);
         $('#bug-order-modal').modal();
       });

       $(".modal-body").on("click",".unbug-order",function(){
          var order_id = $(this).parent().siblings().find('.select-item').val();
         $('#unbug-oid').val(order_id);
         $('#unbug-order-modal').modal();
       });

       $('.modal-body').on('click',".warning-order",function(){
           var order_id = $(this).parent().siblings().find('.select-item').val();
           $('#warning-order-oid').val(order_id);
        
           $('#warning-order-modal').modal();
       });
    });
</script>
{% endblock %}