{% extends "layout.html" %}

{% block page_content %}

<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            任务处理中心
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('main.index') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><a href="{{ url_for('task.index') }}">任务处理中心</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">

                <div class="box box_success">
                    <div class="box-header">
                    <h3 class="box-title">dingdanliebiao</h3>
                    </div>
                    <div class="box-body">
                        
                        <table class="table table-bordered table-hover">
                              <tr>
                                  <th style="width: 10px">
                                    <input type="checkbox" class="icheckbox_square-blue check-all"/>
                                  </th>
                                  <th>单号</th>
                                  <th>类型</th>
                                  <th>状态</th>
                                  <th>区服</th>
                                  <th>角色</th>
                                  <th>账号</th>
                                  <th>密码</th>
                                  <th>起点</th>
                                  <th>需求</th>
                                  <th>当前</th>
                                  <th>旺旺</th>
                                  <th>QQ号</th>
                                  <th>电话</th>
                                  <th>金额</th>
                                  <th>支付</th>
                                  

                                  <th style="width: 200px">操作</th>
                              </tr>

                              {% for order in orders %}
                              <tr style="background-color: {% if order.is_issue %} #ff0000  {% else %} {{ order.order_type.color }}  {% endif %}">
                                  <td>
                                    <input type="checkbox" value="{{ order.id }}" class="minimal-red check-item"/>
                                    
                                  </td>
                                 
                                  <td>{{ order.order_no}}</td>
                                  <td>{{ order.order_type.name}}</td>
                                  <td>{{ order.order_status.name}}</td>
                                  <td>{{ order.area.name}}</td>
                                  <td>{{ order.acter_name }}</td>
                                  <td>{{ order.acter_account }}</td>
                                  <td>{{ order.acter_password }}</td>
                                  <td>{{ order.start_level }}</td>
                                  <td>{{ order.end_level }}</td>
                                  <td>{{ order.now_level }}</td>
                                  <td>
                                    {{ order.wangwang }}
                                    <a href="http://amos.im.alisoft.com/msg.aw?v=2&uid={{ order.wangwang }}&site=cntaobao&s=1&charset=utf-8" target="_blank">旺旺</a>
                                    </td>
                                  <td>
                                    {{ order.qq }}
                                    <a href="http://wpa.qq.com/msgrd?v=3&uin={{order.qq}}&site=qq&menu=yes" target="_blank">QQ</a>
                                  </td>
                                  <td>{{ order.mobile }}</td>
                                  <td>{{ order.amount }}</td>
                                  <td>{{ order.paytype }}</td>
                                  
                                  <td>  
                                        <input type="hidden" class="area_id" value="{{ order.area.id }}">
                                        <input type="hidden" class="status_id" value="{{ order.order_status.id }}">    
                                        <button type="button" class="btn btn-default edit-user">
                                            <i class='fa fa-wrench'></i>
                                        </button>
                                        {% if order.status_id == 1%}
                                        <button type="button" class="btn btn-default check-order">
                                            <i class='fa fa-check'></i>
                                        </button>
                                        {% endif %}

                                        {% if order.is_issue %}
                                          <button type="button" class="btn btn-default unbug-order">
                                            <i class='fa fa-smile-o'></i>
                                          </button>
                                        {% else %}
                                          <button type="button" class="btn btn-default bug-order">
                                            <i class='fa fa-bug'></i>
                                          </button>
                                        {% endif %}

                                        {% if order.status_id == 2%}
                                        <button type="button" class="btn btn-default one-order-to-team">
                                            <i class='fa fa-truck'></i>
                                          </button>
                                        {% endif %}

                                        {% if order.status_id == 2 or order.status_id == 6 %}
                                          <button type="button" class="btn btn-default one-order-to-task">
                                            <i class='fa fa-tasks'></i>
                                          </button>
                                        {% endif %}   
                                  </td>
                              </tr>
                              {% endfor %}
                              
                              
                          </table>


                    </div>
                </div>





                <div class="box box-primary">

                    <div class="box-body">

                        <div class="box-header">
                            <h3 class="box-title">任务组列表</h3>
                            
                        </div><!-- /.box-header -->

                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>日期</th>
                                <th>组别</th>
                                <th>编号</th>
                                <th>进度</th>
                                <th>状态</th>
                                <th>创建时间</th>
                                <th style="width: 200px">操作</th>
                            </tr>
                            {% for team in teams %}
                            <tr>
                                <td>
                                    {{ team.name }}
                                    <input type="hidden" class="team-id" value="{{ team.id }}">
                                </td>
                                
                                <td>{{ team.no}}</td>
                                <td>{{ team.target}}</td>
                                
                                <td>
                                  {% for task in team.tasks %}
                                    {{ task.task.name }},
                                  {% endfor %}
                                </td>
                                <td>{{ team.status.name }}</td>
                                <td>{{ team.create_date }}</td>                                
                                <td>       
                                    <button type="button" class="btn btn-default view-team">
                                        <i class='fa fa-eye'></i>
                                    </button>
                                    {% if team.status.id == 7 %}
                                    <button type="button" class="btn btn-default start-team">
                                        <i class='fa fa-play'></i>
                                    </button>
                                    {% endif %}

                                    {% if team.status.id == 8 %}
                                    <button type="button" class="btn btn-default stop-team">
                                        <i class='fa fa-stop'></i>
                                    </button>
                                    {% endif %}

                                    
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div>
        </div>

    </section><!-- /.content -->
</aside><!-- /.right-side -->

{% endblock %}


{% block otherdiv %}

<div class="modal fade bs-example-modal-sm" id="team-orders-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-big-max">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title tam-orders-title">订单列表 </h4>
                <div class="row" style="margin-top:10px;">
                   {% for task in tasks %}
                    <div class="col-md-1">
                        <form action="{{ url_for('task.update_task') }}" method="post">
                        <input type="hidden" name="task_id" value="{{ task.id }}">
                        <input type="hidden" name="group_id" class="task-group-id">
                        <button class="btn btn-success" id="group-task-btn{{task.id}}">{{ task.name }}</button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-body">
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade bs-example-modal-sm" id="view-order-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-big-max">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">订单信息 </h4>
            </div>
            <div class="modal-body order-info">
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade bs-example-modal-sm" id="start-team-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">开始任务 </h4>
            </div>
            <form action="{{ url_for('task.start_task')}}" method="post">
                <div class="modal-body">
                  是否开始任务
                  <input type="hidden" id="tid" name="tid"/>
                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade bs-example-modal-sm" id="stop-team-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">结束任务 </h4>
            </div>
            <form action="{{ url_for('task.stop_task')}}" method="post">
                <div class="modal-body">
                  是否结束任务
                  <input type="hidden" id="stop-tid" name="tid"/>
                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade bs-example-modal-sm" id="order-out-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-big-max">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">是否将订单踢出本组 </h4>
            </div>
            <form action="{{ url_for('task.out_team') }}" method="post">
                <div class="modal-body">
                  是否将订单踢出本组
                  <input type="hidden" id="out-order-id" name="oid"/>
                </div>
                <div class="modal-footer clearfix">
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}


{% block foot_js %}
{{ super() }}
<script type="text/javascript">
    $(function() {

        //用户table操作
        $(".modal-body").on("change",".check-all",function(event){
            if(this.checked){
                $(".check-item").iCheck('check');
            }else{
                $(".check-item").iCheck('uncheck');
            }
        });

        $(".modal-body").on("click",".view-order",function(event){
            var order_id = $(this).parent().siblings().find(':checkbox').val();
            $.get('/order/__get_info/'+order_id,function(data){
                $('.order-info').html(data);
            });
            $("#view-order-modal").modal();
             
            
        });

        $(".modal-body").on("click",".order-out",function(event){
            var order_id = $(this).parent().siblings().find(':checkbox').val();
            $('#out-order-id').val(order_id);
            $("#order-out-modal").modal();
             
            
        });
         
       

        $('.view-team').on("click",function(){
            selected_id = $(this).parent().siblings().find('.team-id').val();
            $.getJSON('/task/_get_team/'+selected_id,function(data){
                $('#tam-orders-title').html(data.name+"   "+data.no+"组"+data.target+"号机");
                $('.task-group-id').val(data.id);
                $.get('/team/_get_team_orders/'+selected_id,function(data){
                    //alert(data);
                    $('#team-orders-modal').find('.modal-body').html(data);
                    $('#team-orders-modal').modal();
                });
            });
        });

        $('.start-team').on("click",function(){
            selected_id = $(this).parent().siblings().find('.team-id').val();
            $('#tid').val(selected_id);
            $('#start-team-modal').modal();
        });

        $('.stop-team').on("click",function(){
            selected_id = $(this).parent().siblings().find('.team-id').val();
            $('#stop-tid').val(selected_id);
            $('#stop-team-modal').modal();
        });
    });
</script>
{% endblock %}