<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>SEM</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/ionicons.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/iCheck/minimal/blue.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/AdminLTE.css')}}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
    <body class="skin-blue">
        <!-- header logo: style can be found in header.less -->
        <header class="header">
    <a href="#" class="logo">
        <!-- Add the class icon to your logo image or logo icon to add the margining -->
        MingPai
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>Jimmy King <i class="caret"></i></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header bg-light-blue">
                            <img src="{{ url_for('static',filename='img/avatar5.png')}}" class="img-circle" alt="User Image" />
                            <p>
                                Jimmy King
                                <small>研发部</small>
                            </p>
                        </li>
                        
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">个人资料</a>
                            </div>
                            <div class="pull-right">
                                <a href="{{ url_for('auth.logout') }}" class="btn btn-default btn-flat">注销</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
          {% include 'menu.html' %}
          {% block page_content %}{% endblock %}
        </div><!-- ./wrapper -->
{% block otherdiv %}{% endblock %}
        
{% block foot_js %}
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/iCheck/icheck.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/app.js')}}"></script>

{% endblock %}


    </body>
</html>