<aside class="left-side sidebar-offcanvas">
<!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="sidebar-menu">
        {% if user.role.id !=10 %}
            <li class="">
                <a href=" {{ url_for('main.users') }} ">
                    <i class="fa fa-user"></i> <span>用户管理</span>
                </a>
            </li>
            <li class="">
                <a href=" {{ url_for('game.games') }} ">
                    <i class="fa fa-android"></i> <span>游戏管理</span>
                </a>
            </li>
            <li class="">
                <a href=" {{ url_for('dic.ordertypes') }} ">
                    <i class="fa fa-inbox"></i> <span>订单类型管理</span>
                </a>
            </li>
            <li class="">
                <a href=" {{ url_for('dic.issuetypes') }} ">
                    <i class="fa fa-bug"></i> <span>异常类型管理</span>
                </a>
            </li>
            <li class="">
                <a href=" {{ url_for('dic.tasktypes') }} ">
                    <i class="fa fa-bullhorn"></i> <span>任务类型管理</span>
                </a>
            </li>
            <li class="">
                <a href=" {{ url_for('warning.index') }} ">
                    <i class="fa fa-bookmark"></i> <span>备注类型管理</span>
                </a>
            </li>
            <li class="">
                <a href=" {{ url_for('order.orders') }} ">
                    <i class="fa fa-laptop"></i> <span>订单处理中心</span>
                </a>
            </li>
            <li class="">
                <a href=" {{ url_for('team.index') }} ">
                    <i class="fa fa-truck"></i> <span>团练处理中心</span>
                </a>
            </li>
            <li class="">
                <a href=" {{ url_for('task.index') }} ">
                    <i class="fa fa-tasks"></i> <span>任务处理中心</span>
                </a>
            </li>
            {% endif %}
            <li class="">
                <a href=" {{ url_for('search.index') }} ">
                    <i class="fa fa-search"></i> <span>订单查询中心</span>
                </a>
            </li>
             {% if user.role.id !=10 %}
            <li class="">
                <a href=" {{ url_for('order.trash') }} ">
                    <i class="fa fa-trash-o"></i> <span>订单回收站</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </section>
<!-- /.sidebar -->
</aside>