<aside class="left-side sidebar-offcanvas">
<!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="">
                <a href=" {{ url_for('main.users') }} ">
                    <i class="fa fa-user"></i> <span>用户管理</span>
                </a>
            </li>
            <li class="">
                <a href=" {{ url_for('game.games') }} ">
                    <i class="fa fa-android"></i> <span>游戏管理</span>
                </a>
            </li>
            <li class="">
                <a href=" {{ url_for('dic.ordertypes') }} ">
                    <i class="fa fa-inbox"></i> <span>订单类型管理</span>
                </a>
            </li>
            <li class="">
                <a href=" {{ url_for('dic.issuetypes') }} ">
                    <i class="fa fa-bug"></i> <span>异常类型管理</span>
                </a>
            </li>
        </ul>
    </section>
<!-- /.sidebar -->
</aside>